# ==============================
# RED PRODUCT - Variables d'environnement
# ==============================

PORT=5000

# Base de données MongoDB
DB_URI=mongodb://localhost:27017/red-product
# JWT
JWT_SECRET=ton_secret_jwt_super_securise_ici
JWT_EXPIRES_IN=7d

# Reset Password Token
RESET_TOKEN_EXPIRES=3600000

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tonemail@gmail.com
EMAIL_PASS=ton_mot_de_passe_app
EMAIL_FROM=RED PRODUCT <tonemail@gmail.com>

# Frontend URL (pour les liens dans les emails)
CLIENT_URL=http://localhost:3000
